body{
    font-family: sans-serif;
    margin: 20px;
    background-color: whitesmoke;
    color: darkcyan
}

header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    width: 200px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: whitesmoke;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: darkgray;
}